#w-5fieb1sl .section-background {
  background: center center / cover no-repeat content-box border-box
    url('/assets/save-the-date.webp');
  --type: 0;
  filter: contrast(100%) grayscale(0%) hue-rotate(0deg) invert(0%) saturate(100%) sepia(0%)
    opacity(100%) brightness(100%) blur(0px);
  -webkit-backdrop-filter: contrast(100%) grayscale(0%) hue-rotate(0deg) invert(0%) saturate(100%)
    sepia(0%) opacity(100%) brightness(100%) blur(0px);
}

#w-4eszafr3 {
  padding-top: 120px;
  width: 100%;
  opacity: 1;
  text-align: center;
}

#w-4eszafr3 {
  transition: all 0.5s ease-in-out;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
}

#w-4eszafr3.animation {
  transform: perspective(1000px);
}

#w-4eszafr3.animation .text-block-css {
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-duration: 4s;
  -webkit-animation-duration: 4s;
}

#w-4eszafr3 .text-block-css {
  border-color: rgba(229, 231, 235, 1);
  border-style: solid;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-family: 'Ephesis', sans-serif;
  font-size: 40px;
  text-align: center;
}

#w-9xiryvgi {
  width: 100%;
  margin-top: 16px;
  
}

#w-9xiryvgi .image-block-css {
  width: 65%;
  margin: 0 auto;
  aspect-ratio: 3 / 5;
  border-color: rgba(255, 240, 252, 1);
  border-style: solid;
  border-width: 0px;
  z-index: null;
}

#w-9xiryvgi .image-background {
  inset: 0px;
  border-radius: 4px;
  background: center center / cover no-repeat scroll content-box url('/assets/cong.jpg') border-box;
  --type: 0;
}

#w-9xiryvgi .image-background-compare {
  background: undefined;
  clip: rect(0, 136.5px, 409px, 0);
  --type: 0;
}

#w-2q51a7hm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px
}

#w-2qtdpz5v {
  flex: none;
}

#w-2qtdpz5v.animation {
  transform: perspective(1000px);
}

#w-2qtdpz5v.animation .text-block-css {
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
}

#w-2qtdpz5v .text-block-css {
  border-color: rgba(229, 231, 235, 1);
  border-style: solid;
  color: rgba(0, 0, 0, 1);
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.3;
  text-align: center;
}

#w-51uwcprd {
  flex: none;
  perspective: 1000px;
  width: 43px;
}

#w-51uwcprd.animation {
  transform: perspective(1000px);
}

#w-51uwcprd > div {
  transform: rotate(90deg) perspective(1000px);
}

#w-51uwcprd.animation .line-css {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
}

#w-51uwcprd .line-container {
  border-color: rgba(83, 96, 119, 1);
  border-style: solid;
  border-width: 1px;
}

#w-a7d57pg8 {
  flex: none;
}

#w-a7d57pg8.animation {
  transform: perspective(1000px);
}

#w-a7d57pg8.animation .text-block-css {
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
}

#w-a7d57pg8 .text-block-css {
  border-color: rgba(229, 231, 235, 1);
  border-style: solid;
  color: rgba(0, 0, 0, 1);
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 1.3;
  text-align: center;
}

#w-hmx417or {
  flex: none;
  margin-left: 16px;
}

#w-hmx417or.animation {
  transform: perspective(1000px);
}

#w-hmx417or.animation .text-block-css {
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
}

#w-hmx417or .text-block-css {
  border-color: rgba(229, 231, 235, 1);
  border-style: solid;
  color: rgba(0, 0, 0, 1);
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.3;
  text-align: center;
}

#w-t2m2uzg4 {
  width: 100%;
  margin-top: 4px;
  text-align: center;
  padding-bottom: 24px;
}

#w-t2m2uzg4.animation {
  transform: perspective(1000px);
}

#w-t2m2uzg4.animation .text-block-css {
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
}

#w-t2m2uzg4 .text-block-css {
  border-color: rgba(229, 231, 235, 1);
  border-style: solid;
  color: rgba(0, 0, 0, 1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 1);
}
